* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100%;
}

main section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main section h3{
    font-size: 3rem;
    font-weight: 600;

    text-decoration: underline #3CD771;
    text-underline-offset: 15px;
    text-align: center;
}

footer {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #D9D9D9;
}
#sec-what{
    background-color: #DAFFBC;
    display: grid;
    grid-template-rows: 2fr 5fr;
}

#sec-what span{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 150px;
}

#sec-what p {
    width: 500px;

    font-size: 1.35rem;
    font-weight: 510;

    text-align: center;
}
